@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.nav{
    position: sticky;
    background-color: #b1beda;
    top: 0;
    height: 8vh;
    color: white;
    z-index: 222;
}

ul li{
    list-style-type: none;
    float: left;
    padding: 20px 10px 0px 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

li:first-child{
    font-weight: 900;
}

.carousel-container img{
    width: 100%;
    height: 92vh;
}